/*
        NAV
*/


header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0 25px 0;
    width: 100%;
    position: relative;
}

.nav-entry {
    padding: 10px 20px;
    font-family: avara;
    color: #8F871E;
    font-size: 25px;
    letter-spacing: 2px;  
    cursor: pointer;
}

.nav-entry.selected {
    text-decoration: underline;
}

.nav-entry.disabled {
    color: #363718;
}

.nav-separator {
    width: 7px;
    height: 7px;
    background-color: #363718;
    border-radius: 50%;
    margin: 0 10px;
}



/*
        DROPDOWN
*/

#area-picker-container {
    margin-bottom: 50px;
}

.form-label {
    color: #C0C0BC;
    font-family: Eczar;
    font-size: 14px;
    margin: 15px 0 8px 0;    
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropbtn {
    font-family: Eczar;
    color: #989A87;
    font-size: 18px;    
    background-color: #01090A;    
    border: none;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    display: inline-block;    
    transition-duration: 0.4s;
    border: 3px solid #363718;
    width: 100%;
    padding: 5px 10px 5px 30px;
    min-height: 49px;
}

.dropbtn:hover {        
    border: 3px solid #6F7221;
}

.dropdown-content {
    display: none;
    position: absolute;    
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 7px;
    border: 3px solid #363718;
    background-color: #01090A;  
    font-family: Eczar;
    color: #989A87;
    font-size: 18px;
    max-height: 200px;
    overflow-y: auto;    
}

/* WebKit scrollbar styling */
.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1px;    
    box-shadow: inset 0 0 10px 10px #01090A;
    border: solid 3px transparent;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background: #181D16;
    border-radius: 1px;
    box-shadow: inset 0 0 10px 10px #181D16;
    border: solid 3px transparent;
    
}

.dropdown-content a {
    color: #989A87;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #8F871E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn::after {
    content: "";
    display: block;
    position: absolute;    
    top: 100%;
    left: 0;
    width: 100%;
    height: 7px; /* Same as margin-top of .dropdown-content */
}


main {
    margin: 50px 0 150px 0;
}

/*
        AREA SECTION
*/

#area-section-container {
    display: block;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    padding-left: 30px;
    box-sizing: border-box;

    font-family: Eczar;
    color: #989A87;
    font-size: 16px;    
    background-color: #01090A;            
    text-decoration: none;    
    transition-duration: 0.4s;
    border: 3px solid #363718;            
}

textarea {
    height: 200px;
}

/* Style inputs and textarea when focused */
input:focus, textarea:focus {
    border-color: #8F871E; /* Change border color when focused */
    outline: none; /* Remove default outline */
    
}

#new-area-container {
    margin-top: 20px;
}


/*
        MAP SECTION
*/

#map-section-container {
    display: none;
}

#map-grid-container {
    display: flex;
    margin-bottom: 30px;

    .main-square {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;                
        background-color: #06111377;
        border: 2px solid transparent;    

        .coordinate {
            font-size: 12px;
            color: #393D1E;
        }
    }
    .main-square.active {
        border: 2px solid #363718;
    }    

    .main-square.current {
    background-image: none;
    border: 2px solid #6F7221;
    }
    .main-square.can-hover:hover {        
        border: 2px solid #6F7221;
    }    
    .main-square.door {                
        border-style: dashed;
    }
    .main-square.door:hover {                
        border-style: dashed;
    }


    .vertical-square {
        height: 20px;
        width: 15px;
        background-color: transparent;
        border-bottom: 2px solid transparent;
    }
    .vertical-square.active {        
        border-bottom: 2px solid #6F7221;
    }
    .vertical-square.inactive {        
        border-bottom: 2px solid #363718;
    }
    .vertical-square.blocked {        
        border-bottom: 2px solid #512018;
    }

    .horizontal-square {
        height: 15px;
        width: 20px;
        margin-right: 37px;
        background-color: transparent;
        border-right: 2px solid transparent;
    }
    .horizontal-square.active {
        border-right: 2px solid #6F7221;
    }
    .horizontal-square.inactive {
        border-right: 2px solid #363718;
    }
    .horizontal-square.blocked {
        border-right: 2px solid #512018;
    }
}

#door-button-container {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
}


#door-attribute-container {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 20px;
    margin-bottom: 50px;
}

#door-region-picker {
    width: 74%;
}

#door-area-picker {
    .dropdown {
        width: 500px;
    }
}

#door-coordinate-picker {

    .dropdown {
        width: 150px;
    }
}


#buttons-container {
    margin-bottom: 50px;
}

#button {
    display: none;
    justify-content: space-between;
}

#button-master {
    display:flex;
}

.nav-button {    
    width: 100%;
}

.button-delete {
    height: 30px;
    width: 30px;
    border: 2px solid #363718;    
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: #01090A;
    margin-top: 18px;
    margin-left: 10px;
    transition-duration: 0.4s;
}

.button-delete:hover {
    border: 2px solid #6F7221;
}

.delete-icon {
    content:url("Assets/DeleteIcon.svg");
}

.delete-icon:hover {
    content:url("Assets/DeleteIconHover.svg");
}



#save-button-container {
    display: flex;
    gap: 15px;
    margin-top: 60px;
}

#new-object-container {
    display: none;
    margin-bottom: 50px;
}

#save-button-container {
    display: flex;
    gap: 15px;
}

#new-region-button, #new-area-button, #remove-door-button, #door-button, #cancel-button, #create-object-button, #new-object-button, #load-button, #save-button{
    font-family: Eczar;
    color: #989A87;
    font-size: 16px;    
    background-color: #01090A;        
    cursor: pointer;    
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border: 3px solid #363718;
    width: 120px;
    padding: 2px 0;
    margin-left: 20px;
}

#new-region-button:hover, #new-area-button:hover, #remove-door-button:hover, #door-button:hover, #cancel-button:hover, #create-object-button:hover, #new-object-button:hover, #load-button:hover, #save-button:hover {        
    border: 3px solid #6F7221;
}

#remove-door-button {
    display: none;
}

#create-object-button {
    margin-top: 30px;
}

#cancel-button {
    margin-left: 15px;
}

.dropdown-content a {
    cursor: pointer;
}
