@font-face {
    font-family: avara;
    src: url(Fonts/Avara.otf);
  }

body {
    background-color: #020C0D;
}

.bg {
    z-index: -99;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    z-index: -99;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

#wrapper {
    margin: 0;
}

#content {
    height: 92vh;
    margin:0px;
    padding: 0px;    
    max-width: 700px;
    margin: auto;
    font-family: Eczar;
    background-color: #010c0b52;    
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

#debug {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: #3E3E3E;
    font-size: 25px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #EAEAEA;
    width: 15%;
    padding: 40px;
    margin: 5px 0 15px 0;

    .debug-button {
        color: rgb(46, 46, 46);
        font-family: Roboto;
        font-size: 22px;
        border-radius: 6px;
        border: none;
        background: #cccccc;        
        height: 50px;        
        font-weight: 500;
        padding: 0 40px;
        margin: 10px 0;

        &:hover {
            color: black;
            background: #969696;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;    
    font-size: 28px;
    border-radius: 6px;       
    margin: 95px 0 0 0;        
}

#stats {    
    background: #01090A;
    border: 1px solid #363718;
    width: 100%;

    div {
        text-align: center;
        min-width: 70px;
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    width: auto;        
    list-style: none;    
    margin: 0;
    padding: 0;
    font-size: 20px;        
    font-weight: 700;        
}

li {
    color: #CDCEC6;
    font-size: 21px;
    font-weight: 400;
    display: flex;    
    justify-content: center;
    align-items: center;    
}

li.hidden {
    display:none;
}

#inventory-button-section {
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01090A;
    border: 1px solid #363718;
    width: 70px;
    height: 65px;
    margin-left: 10px;

    .open-inventory {
        width: 75%;
        content:url("Assets/InventoryIcon.svg");
    }

    .close-inventory {
        width: 65%;
        content:url("Assets/ExitIcon.svg");
    }
}

#inventory-button-section:hover {

    border: 1px solid #6F7221;

    .open-inventory {
        width: 75%;
        content:url("Assets/InventoryIconHover.svg");
    }

    .close-inventory {
        width: 65%;
        content:url("Assets/ExitIconHover.svg");
    }
}

main {
    margin: 25px;
}

.title-section {
    color: black;
    margin: 135px 0 0 0;

    #main-title {
        display: flex;
        margin: 20px 20px 20px 0;
    }

    #main-title-text {
        font-family: avara;
        color: #8F871E;
        font-size: 25px;
        letter-spacing: 2px;
    }
    
    #main-title-icon {        
        margin-right: 25px;
    }

    #secondary-title {
        font-family: Eczar;
        display: flex;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 20px 20px 10px 0;
    }

    #secondary-title-text {
        color: #8F871E;
    }

    #secondary-title-icon {        
        margin-right: 34px;
    }
}

.secondary-icon-monster {
    content:url("Assets/SecondaryIconMonster.svg");
}

.secondary-icon-npc {
    content:url("Assets/SecondaryIconNPC.svg");
}

#monster-hp-section {        
    height: 23px;

    #monster-hp-bar-background {
        border-radius: 2px;
        background-color: #01090A;
        border: 1px solid #512018;
        width: 200px;
        height: 23px;
        margin: 23px 0 0 0;
        display : flex;
        align-items : center;
        justify-content: center;
        z-index: 1;
    }

    #monster-hp-bar-current {
        position: relative;
        background-color: #512018;    
        border-radius: 2px;
        width: 100px;
        height: 23px;        
        top: -24px;
        z-index: 2;
    }

    #monster-hp-text {
        color: #E86E40;
        font-size: 16px;
        font-weight: 300;    
        z-index: 3;
    }
}

#main-text-section {
    color: #CDCEC6;
    font-size: 20px;
    font-weight: 400;        
    letter-spacing: 1px;
    min-height: 105px;    
    margin: 30px 0 25px 0;

    #narration-text {
        color: #969791;
        display: none;        
        font-weight: 400;
        font-style: italic;
        padding: 40px 0 30px 0;
    }

    #main-text {
        padding: 0 0 30px 0;
    }

    #update-text {
        color: #969791;
        display: block; 
        font-style: italic;       
        font-weight: 400;
        padding: 0px 0 30px 0;
    }
}

#inventory-title {
    display: none;
    color: #CDCEC6;
    font-weight: 500;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

nav {
    margin-bottom: 150px;;
}

.nav-button {    
    display: flex;        
    font-family: Eczar;
    font-size: 18px;    
    text-align: left;
    border-radius: 2px;
    border: none;
    background: #01090A;
    width: 100%;
    height: 50px;
    line-height: 50px;    
    font-weight: 500;
    padding: 0;
    margin: 10px 0;

    .button-equip-icon {
        display: none;        
        padding-top: 5px;
        padding-left: 5px;
    }

    .button-text {
        padding-left: 25px;
    }    
}

#button-stat-section {
    display: none;
    margin-left: auto;
    padding-right: 20px;

    div {
        font-size: 18px;
        color: #877C7A;
    }
}

.can-hover {
    cursor:pointer;
}

.location-button {
    color: #8A8766;
    border: 1px solid #363718;
}

.location-button.can-hover:hover {    
    color: #BAB797;
    border: 1px solid #6F7221;
}

.monster-button {
    color: #8F3715;
    border: 1px solid #512018;
}

.monster-button.can-hover:hover {    
    color: #E86E40;
    border: 1px solid #AE3E2D;
}

.item-button {
    color: #877C7A;
    border: 1px solid #32373A;
}

.item-button.can-hover:hover {    
    color: #D1BDB9;
    border: 1px solid #7C8D97;
}

.npc-button {
    color: #6C7D5B;
    border: 1px solid #2B382F;
}

.npc-button.can-hover:hover {    
    color: #C4D9B0;
    border: 1px solid #336843;
}

.locked-button {
    color: #383724;
    border: 1px solid #1C1D0F;
}

#equip-button {
    display: none;
}