@font-face {
    font-family: avara;
    src: url(Fonts/Avara.otf);
  }

body {
    background-color: #020C0D;
}

.bg {
    z-index: -99;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    z-index: -99;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

#wrapper {
    margin: 0;
}

#content {
    height: 92vh;
    margin:0px;
    padding: 0px;    
    max-width: 700px;
    margin: auto;
    font-family: Eczar;
    background-color: #010c0b52;    
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

#debug {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #030f0c;
    width: 200px;
    padding: 40px;
    margin: 5px 0 15px 0;

    .debug-button {
        color: rgb(197, 197, 197);
        font-family: Roboto;
        font-size: 18px;
        border-radius: 6px;
        border: none;
        background: #031a0f;        
        height: 30px;
        width: 200px;
        font-weight: 500;
        padding: 0 40px;
        margin: 10px 0;

        &:hover {
            color: rgb(255, 255, 255);
            background: #010a0a;
        }
    }
}

/*
        HEADER
*/


header {
    display: flex;
    justify-content: space-between;    
    font-size: 28px;
    border-radius: 6px;       
    margin: 95px 0 0 0;        
}

#stats {    
    background: #01090A;
    border: 1px solid #363718;
    width: 100%;

    div {
        text-align: center;
        min-width: 70px;
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    width: auto;        
    list-style: none;    
    margin: 0;
    padding: 0;
    font-size: 20px;        
    font-weight: 700;        
}

li {
    color: #CDCEC6;
    font-size: 21px;
    font-weight: 400;
    display: flex;    
    justify-content: center;
    align-items: center;    
}

li.hidden {
    display:none;
}

#inventory-button-section {
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01090A;
    border: 1px solid #363718;
    width: 70px;
    height: 65px;
    margin-left: 10px;

    .open-inventory {
        width: 75%;
        content:url("Assets/InventoryIcon.svg");
    }

    .close-inventory {
        width: 65%;
        content:url("Assets/ExitIcon.svg");
    }
}

#inventory-button-section:hover {

    border: 1px solid #6F7221;

    .open-inventory {
        width: 75%;
        content:url("Assets/InventoryIconHover.svg");
    }

    .close-inventory {
        width: 65%;
        content:url("Assets/ExitIconHover.svg");
    }
}

main {
    margin: 25px;
}

.title-section {
    color: black;
    margin: 135px 0 0 0;

    #main-title {
        display: flex;
        margin: 20px 20px 20px 0;
    }

    #main-title-text {
        font-family: avara;
        color: #8F871E;
        font-size: 25px;
        letter-spacing: 2px;        
    }

    .centered {
        justify-content: center;

        #main-title-text {
            font-family: avara;
            color: #523294;
            font-size: 29px;
            letter-spacing: 2px;        
        }
    }

    #main-title-icon {        
        margin-right: 25px;
    }    

    #secondary-title {
        font-family: Eczar;
        display: flex;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 20px 20px 10px 0;
    }

    #secondary-title-icon {
        text-align: center;        
        color: #8F3715;
        font-size: 17px;
        font-weight: 600;
        line-height: 43px;
        width: 42px;
        height: 40px;
        margin-right: 20px;
        background-image: url("Assets/SecondaryIconMonster.svg");
        background-repeat: no-repeat;
    }

    #secondary-title-icon.monster {
        background-image: url("Assets/SecondaryIconMonster.svg");
    }

    #secondary-title-icon.npc {
        background-image: url("Assets/SecondaryIconNPC.svg");
    }

    #secondary-title-text {
        color: #8F871E;        
    }
}
    
#main-title-text.secondary{
    color: #363718;
    font-size: 25px;
}

#main-title-text.title{
    color: #804FB1;
    font-size: 29px;
} 

#main-text-section {
    color: #CDCEC6;
    font-size: 20px;
    font-weight: 400;        
    letter-spacing: 1px;
    min-height: 105px;    
    margin: 30px 0 25px 0;

    #narration-text {
        color: #969791;
        display: none;        
        font-weight: 400;
        font-style: italic;
        padding: 40px 0 30px 0;
    }

    #main-text {
        padding: 0 0 30px 0;
    }

    #update-text {
        color: #969791;
        display: block; 
        font-style: italic;       
        font-weight: 400;
        padding: 0px 0 30px 0;
    }
}

/*
        MAP GRID
*/

#map-grid-container {
    
    
    margin:auto;
    margin-bottom: 125px;

    display: flex;    
    flex-direction: column;    

    .row {
        display: flex;
        flex-direction: row;
    }

    .main-square {
        height: 40px;
        width: 40px;                
        background-color: #06111377;
        border: 2px solid transparent;
    }
    .main-square.visited {        
        border: 2px solid #363718;
    }    
    .main-square.seen {        
        border: 2px solid #1D1E0E;
    }
    .main-square.current {
      background-image: url("Assets/mapPlayerIcon.svg");
      border: 2px solid #6F7221;
    }
    .main-square.can-hover:hover {        
        border: 2px solid #6F7221;
    }

    
    .vertical-square {
        height: 20px;
        width: 15px;
        background-color: transparent;
        border-bottom: 2px solid transparent;
    }
    .vertical-square.active {        
        border-bottom: 2px solid #6F7221;
    }
    .vertical-square.inactive {        
        border-bottom: 2px solid #363718;
    }    

    .horizontal-square {
        height: 15px;
        width: 20px;
        margin-right: 37px;
        background-color: transparent;
        border-right: 2px solid transparent;
    }
    .horizontal-square.active {
        border-right: 2px solid #6F7221;
    }
    .horizontal-square.inactive {
        border-right: 2px solid #363718;
    }
}




/*
        BUTTONS
*/


#inventory-title, #equipment-title, #sale-title {
    display: block;
    color: #8F871E;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
    width: 100%;    
}

#inventory-title, #sale-title {
    margin-top: 40px;
}

nav {
    padding-bottom: 150px;
}

.nav-button {    
    display: flex;        
    flex-wrap: wrap;
    font-family: Eczar;
    font-size: 18px;    
    text-align: left;
    border-radius: 3px;
    border: none;
    background: #01090A;
    width: 100%;
    height: 100%;
    line-height: 50px;    
    font-weight: 500;
    padding: 0;
    margin: 10px 0;

    .button-equip-icon {
        display: none;        
        padding-top: 5px;
        padding-left: 5px;
    }

    .button-text {
        padding-left: 25px;
        max-width: 90%;
    }    

    .stamina-cost-section {
        display: none;
        padding-left: 10px;
    }

    .stamina-cost-text.active {
        color: #7e8186;
    }
    .stamina-cost-text.inactive {
        color: #8F3715;
    }

    .button-level-icon {
        display: none;
        text-align: center;        
        color: #8F3715;
        font-size: 17px;
        font-weight: 600;
        line-height: 43px;
        width: 40px;
        height: 40px;
        margin: 5px 0px 0 -20px;        
        background-image: url("Assets/SecondaryIconMonster.svg");
        background-repeat: no-repeat;
    }

    .button-chevron {     
        cursor:pointer;
        margin-left: auto;        
        padding-right: 20px;
        position: relative;
        top: 50%;
        transform: translateY(20%);
    }    

    .description-section {
        display: block;
        font-size: 16px;
        line-height: 1.75em;
        color: #dd0ec1;        
        padding-bottom: 35px;
        font-weight: 600;        
    }
}

.nav-button.spacer {
    margin-bottom: 50px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.left-spacer {
    margin-left: auto;
    padding-right: 20px;
}

.can-hover {
    cursor:pointer;
}


#button-master {
    display: none;
}

.action-button {
    color: #8A8766;
    border: 3px solid #363718;
}

.action-button.can-hover:hover {    
    color: #BAB797;
    border: 3px solid #6F7221;
}

.action-button-inactive {
    color: #383724;
    border: 3px solid #1C1D0F;
}

.monster-button {
    color: #8F3715;
    border: 3px solid #512018;

    .description-section {
        margin-left: 23px;
        color: #877C7A; 
    }

    .chevron-closed {
        content:url("Assets/Monster-ChevronClosed.svg");
    }

    .chevron-closed.hover {
        content:url("Assets/Monster-ChevronClosedHover.svg");
    }

    .chevron-open {
        content:url("Assets/Monster-ChevronOpen.svg");
    }

    .chevron-open.hover {
        content:url("Assets/Monster-ChevronOpenHover.svg");
    }
}

.monster-button.active {    
    color: #E86E40;
    border: 3px solid #AE3E2D;
}

.monster-button.can-hover:hover {    
    color: #E86E40;
    border: 3px solid #AE3E2D;
}


.monster-hp-section {
    margin-left: 43px;
    line-height: 0;    

    .monster-hp-bar-background {        
        border-radius: 2px;
        background-color: #01090A;
        border: 1px solid #512018;
        width: 100px;
        height: 23px;
        margin: 5px 0 0 0;
        display : flex;
        align-items : center;
        justify-content: center;
        z-index: 1;        
    }

    .monster-hp-bar-current {
        position: relative;
        background-color: #512018;    
        border-radius: 2px;
        width: 100px;
        height: 23px;        
        top: -24px;
        z-index: 2;
    }

    .monster-hp-text {
        margin: 0;
        padding: 0;
        line-height: 0;
        color: #E86E40;
        font-size: 13px;
        font-weight: 300;    
        z-index: 3;
    }
}

.item-button {
    color: #7e8186;
    border: 3px solid #32373A;

    .description-section {        
        color: #7e8186; 
    }

    .chevron-closed {
        content:url("Assets/Item-ChevronClosed.svg");
    }

    .chevron-closed.hover {
        content:url("Assets/Item-ChevronClosedHover.svg");
    }

    .chevron-open {
        content:url("Assets/Item-ChevronOpen.svg");
    }

    .chevron-open.hover {
        content:url("Assets/Item-ChevronOpenHover.svg");
    }

    .item-cost-section {
        display: flex;
        padding-left: 10px;
    }

    .item-cost-text.active {
        color: #7e8186;
    }
    .item-cost-text.inactive {
        color: #8F3715;
    }  

    .upgrade-material-cost {
        display: none;
        font-size: 15px;
        margin-right: 15px;
    }
    .upgrade-material-cost.active {
        color: #7e8186;
    }
    .upgrade-material-cost.inactive {
        color: #8F3715;
    }

    .button-stat-section {
        display: block;        

        div {
            font-size: 18px;
            color: #877C7A;
        }

        li {
            margin-right: 15px;
        }
    }

    .secondary-action-button {
        margin: 0 20px 20px 0;        
        height: 35px;
        width: 100px;

        .secondary-button-text {
            text-align: center;
            height: 100%;
            line-height: 36px;            
        }
    }
}

.item-button.active {    
    color: #C0C8CF;
    border: 3px solid #7C8D97;
}

.item-button.can-hover:hover {    
    color: #C0C8CF;
    border: 3px solid #7C8D97;
}

.npc-button {
    color: #6C7D5B;
    border: 3px solid #2B382F;
}

.npc-button.can-hover:hover {    
    color: #C4D9B0;
    border: 3px solid #336843;
}

.locked-item-button {
    color: #3C4045;
    border: 3px solid #1F2325;
}

#equip-button {
    display: none;
}